.card{
    margin-bottom: 100px;
    padding-bottom:-20px;
    width:850px;
    background-color:rgb(33, 18, 196);
    height:150px;
}

.card-body{
    background-color:rgb(25, 163, 55);

}

.form-signin{
    width:300px;
    text-align:center;
    margin-left: 200px;
  }